name: Build and Push Development Docker Images

on:
  push:
    branches: [ "main" ]
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    concurrency:
      group: docker

    permissions:
      contents: read
      packages: write

    steps:
    - name: Checkout code
      uses: actions/checkout@v6
      with:
        persist-credentials: false

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set lowercase repository name
      run: |
        echo "REPO_LC=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm64
        tags: ghcr.io/${{ env.REPO_LC }}-snapshot:dev

    - name: Set lowercase package name
      run: |
        PACKAGE_NAME=${GITHUB_REPOSITORY##*/}
        echo "PACKAGE_NAME_LC=${PACKAGE_NAME,,}" >> $GITHUB_ENV

    - name: Clean up untagged (dangling) docker images
      uses: actions/delete-package-versions@v5
      with:
        owner: ${{ github.repository_owner }}
        package-name: ${{ env.PACKAGE_NAME_LC }}-snapshot
        package-type: container
        min-versions-to-keep: 10
        delete-only-untagged-versions: 'true'
